:root {
  --primary-color: #001974;
  --table-header: #B9B9B9;
}

#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header {
  background-color: #FFFFFF;
  min-height: 8vh;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: var(--primary-color);
  font-weight: bold;
}

.body {
  padding-left: 6vw;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

table {
  border: 1px solid lightgray;
  border-radius: 15px;
  padding: 0.5vw;
}

th {
  /*border-bottom: 1px solid lightgray;*/
  /*border-right: 1px solid lightgray;*/
  padding: 2px 4px;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}
