@import url("https://fonts.google.com/?query=Barlow");


body {
  background-color: white;
  flex-direction: column;
  padding-bottom: 6vh;
}

#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header {
  background-color: #FFFFFF;
  min-height: 8vh;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: var(--primary-color);
  font-weight: bold;
}

.body {
  padding-top: 18vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

#paceSCIS {
  position: relative;
  top: 15%;
  max-width: 260px;
  max-height: 130px;
  height: auto;
  width: auto;
}

#paceOoA {
  max-width: 230px;
  max-height: 170px;
  height: auto;
  width: auto;
}

#gpaHeader {
  font-family: 'Barlow';
  font-size: 69px;
}

table {
  border: 1px solid lightgray;
  border-radius: 15px;
  font-family: 'Barlow';
  margin-bottom: 4vh;
}

th {
  /*border-bottom: 1px solid lightgray;*/
  /*border-right: 1px solid lightgray;*/
  padding: 2px 4px;
  font-family: 'Barlow';
}

tfoot {
  font-family: 'Barlow';
  color: gray;
}

tfoot th {
  font-weight: normal;
  font-family: 'Barlow';
}

#btnMenu {
  font-family: 'Barlow';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 82%;
}

.Dropdown-root {
  font-family: 'Barlow';
  top: -2.4vw;
}

.Dropdown-control {
  border-radius: 9px !important;
  font-weight: bold;
  width: max-content;
}

.Dropdown-menu {
  border-radius: 9px;
}

#Dropdown-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
